:root {
  --theme-blue: #0070f3;
  --theme-purple: #8a3ffc;
  --theme-grey: #eaeaea;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Prompt", sans-serif, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--theme-blue);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  backdrop-filter: blur(3px);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.37, 1.55);
}

button:hover,
button:focus {
  border-color: var(--theme-blue);
  transform: translateY(-2.5%);
}

button:active {
  transform: scale(98%);
}

button:focus {
  outline: none;
  box-shadow: 0px 0px 4px var(--theme-purple);
}

h1,
h2,
h3 {
  line-height: 1;
}

.canvas-container {
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 200ms cubic-bezier(1, -0.1, 0.57, 1);
}

.ReactModal__Overlay--after-open {
  opacity: 0.98;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
